* {
    box-sizing: border-box;
}

body {

    margin: 0;

    min-height: 100vh;

    font-family: Arial, sans-serif;

    background: #f5f5f5;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 30px;

}


.container {

    width: 100%;

    max-width: 550px;

    background: white;

    padding: 35px;

    border-radius: 25px;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.1);

}


h1 {

    text-align: center;

    font-size: 36px;

    margin-bottom: 5px;

}


.subtitle {

    text-align: center;

    color: #666;

}


.upload-box {

    margin-top: 30px;

    padding: 40px 20px;

    border: 3px dashed #ff3333;

    border-radius: 20px;

    text-align: center;

}


input[type="file"] {

    display: none;

}


.upload-box label {

    display: inline-block;

    padding: 15px 25px;

    background: #ff3333;

    color: white;

    border-radius: 12px;

    cursor: pointer;

    font-weight: bold;

}


.upload-box label:hover {

    background: #d90000;

}


#fileName {

    margin-top: 20px;

    font-weight: bold;

    word-break: break-word;

}


#pageCount {

    font-size: 18px;

    font-weight: bold;

}


#printSetting {

    display: none;

    margin-top: 30px;

}


.setting {

    margin-top: 20px;

}


.setting label {

    display: block;

    font-weight: bold;

    margin-bottom: 8px;

}


select,
input[type="number"] {

    width: 100%;

    padding: 13px;

    font-size: 16px;

    border: 1px solid #ccc;

    border-radius: 10px;

    background: white;

}


.price-box {

    margin-top: 25px;

    padding: 20px;

    background: #f1f1f1;

    border-radius: 15px;

    text-align: center;

}


.price-box p {

    margin: 0;

    color: #666;

}


.price-box h2 {

    margin: 8px 0 0;

    font-size: 32px;

}


.print-button {

    width: 100%;

    margin-top: 25px;

    padding: 17px;

    border: none;

    border-radius: 12px;

    background: #111;

    color: white;

    font-size: 20px;

    font-weight: bold;

    cursor: pointer;

}


.print-button:hover {

    background: #333;

}


#status {

    text-align: center;

    margin-top: 15px;

    font-weight: bold;

}